html {
  font-size: 60px;
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.9rem;
  letter-spacing: 0.2px;
  background: #e0fddf;
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #065635;
  font-family: 'Abril Fatface', cursive;
}

a:hover {
  background-color: #f8fb05;
}

.links {
  width: 600px;
  padding: 10% 40%;
}